.card-list {
  .reset-ul();
  margin-bottom: 30px;
}

.card-list__item {
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-list__item:last-child {
  margin-bottom: -9px;
}


.card-list__user-name {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  .set-font-bold();
  color: @user-name-color;
  padding-bottom: 6px;
  margin: 0 0 0 105px;


  &::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #f97676;
    border-radius: 50%;
    display: block;
    margin-right: 22px;
    margin-top: 7px;
  }
}

.users__name--online::after {
  background-color: #81e31e;
}

.card-list__avatar-image {
  border-radius: 50%;
  float: left;
  margin-right: 16px;
  margin-left: 17px;
  position: absolute;
}

.card-list__like-count {
  .set-font-bold();
  font-size: 14px;
  line-height: 21px;
  color: @font-darkblue;
  margin: 0 104px 18px;
}

.card-list__desc {
  .set-font-normal();
  font-size: 15px;
  line-height: 18px;
  color: @font-grey;
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 26px;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #edeff6;
    border: solid #ffffff;
    border-width: 0 10px;
  }

  &::before {
    margin-left: -100%;
  }

  &::after {
    margin-right: -100%;
  }
}

.card-list__desc--transport {
  margin-bottom: 16px;
}

.card-list__transport .card-list__desc {
  margin-top: 0;
  padding-left: 26px;
}

.card-list__user-number {
  .set-font-bold();
  font-size: 24px;
  line-height: 18px;
  color: #1d2e5b;
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.card-list__user-desc {
  display: none;
}

.card-list__link {
  display: block;
  padding: 5px 78px;
  border-radius: 20px;
  font-size: 17px;
  line-height: 30px;
  color: @font-darkblue;
  margin: 0 20px 20px;
}

.card-list__item .button::before {
  content: none;
}

.card-tags__list {
  font-size: 15px;
}

.catalog__list .card-tags__list {
  justify-content: flex-start;
  padding-left: 26px;
  margin-bottom: -3px;
  padding-right: 50px;
}

.card-list__list {
  flex-direction: column;
  margin-left: 25px;
}

.card-list__list .flag-list__item {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.card-list__list .flag-list__item:last-child {
  margin-bottom: 0;
}

.card-list__wrapper {
  display: flex;
  justify-content: flex-start;
}

.card-list__level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-list__desc--level {
  padding-left: 52px;
}

.card-list__desc--level span {
  margin-left: 3px;
}

.card-list__level .card-list__desc {
  margin: 0 0 7px 0;
}

.card-list__level .users-level__desc {
  display: none;
}

.card-list__level .status__icon {
  fill: none;
}

.card-list__level .users-level__value {
  top: 13px;
  left: 5px;
}

.card-list__level .users-level__icon {
  margin-left: 46px;
}

.card-list__item:nth-child(2) .card-list__future {
  margin-bottom: 8px;
}


.card-list__item:nth-child(3) .card-list__future {
  margin-bottom: 3px;
}


.card-list__item:nth-child(4) .card-list__future {
  margin-bottom: 7px;
}

//
//.card-list__item:last-child {
//  margin-bottom: -5px;
//}

.card-list__avatar-like {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  top: 55px;
  left: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-like__icon--like {
  fill: #f02323;
}

.card-list__avatar-like--dislike .avatar-like__icon--like {
  display: none;
}

.card-list__avatar-like--like .avatar-like__icon--notlike {
  display: none;
}

.card-list__avatar-like--like {
  background-color: #f9eaea;
}

.card-list__avatar-like--dislike {
  background-color: #edeff6;
}

.avatar-like__icon--notlike {
  fill: #192144;
  opacity: 0.3;
}

.card-list__user-name .users__link::before {
  margin-left: 137px;
  width: 7px;
  height: 7px;
}

.card-list__about-user {
  margin-bottom: 1px;
}

@media (min-width: @tablet-width) {
  .card-list__item:nth-child(2) .card-list__future {
    margin-bottom: 11px;
  }

  .card-list__item:nth-child(3) .card-list__future {
    margin-bottom: 11px;
  }

  .card-list__item:nth-child(4) .card-list__future {
    margin-bottom: 11px;
  }

  .card-list {
    margin-bottom: 10px;
  }

  .card-list__level .status__icon {
    width: 60px;
    height: 60px;
  }

  .card-list__level .users-level__desc {
    display: block;
    color: #444444;
    opacity: 0.4;
    margin-top: 1px;
  }

  .card-list__level .users-level__number::before {
    background-color: #000000;
    opacity: 0.1;
    bottom: 1px;
  }


  .card-list__user-name {
    font-size: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding-right: 0;
    padding-bottom: 3px;
    justify-content: flex-start;

    &::after {
      width: 7px;
      height: 7px;
      margin-right: 0;
      margin-left: 23px;
      margin-top: 12px;
    }
  }

  .card-list__user-name br {
    display: none;
  }

  .card-list__like-count {
    margin-left: 10px;
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    top: 186px;
    left: 450px;
  }

  .card-list__item {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 35px;
    margin-bottom: 40px;
    width: 688px;
  }


  .card-list__avatar-image {
    position: static;
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-left: 35px;
  }

  .card-list__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }

  .card-list__transport {
    display: flex;
    flex-direction: column;
  }

  .card-list__about-user {
    width: 260px;
    margin-left: 7px;
    margin-top: -2px;
    margin-right: 94px;
  }


  .card-list__list {
    flex-direction: row;
    margin-left: 36px;
    margin-bottom: 1px;
  }

  .card-list__link {
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    top: 175px;
    left: 235px;
    padding: 10px 32px;
    border-radius: 25px;
  }

  .card-list__desc--transport {
    margin-left: 0;
    display: none;
  }

  .card-list__desc--level {
    display: none;
  }

  .card-tags__list {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__list .card-tags__list {
    margin-left: -13px;
    padding-right: 0;
  }

  .card-list__desc {
    margin-top: 18px;
    padding-left: 83px;
    margin-bottom: 35px;
  }

  .card-list__avatar-like {
    width: 50px;
    height: 50px;
    top: 176px;
    left: 404px;
  }

  .card-list__future {
    order: 100;
    width: 100%;
    margin-bottom: 11px;
  }

  .card-list__user-level {
    margin-left: 8px;
  }

  .card-list__user-desc {
    margin: 0;
    .set-font-normal();
    font-size: 14px;
    line-height: 14px;
    opacity: 0.4;
    color: #444444;
    display: block;
  }

  .card-list__user-number {
    margin-left: 0;
    margin-bottom: 4px;
  }

  //.card-list__item:nth-child(2) .card-list__future {
  //  margin-bottom: 0;
  //}
  .card-list__item .users__name::before {
    width: 7px;
    height: 7px;
    margin-left: 210px;
    top: 12px;
  }

  .avatar-like__icon {
    width: 20px;
    height: 17px;
  }


  .card-list__level .users-level__icon {
    margin-left: 0;
    margin-top: -1px;
  }

  .card-list__level .users-level__value {
    left: 13px;
  }

  .card-list__list .flag-list__item {
    align-items: flex-start;
    margin-right: 30px;
  }


  //.card-list__item:nth-child(2) .card-list__future {
  //  margin-bottom: 11px;
  //}

  .card-list__item:last-child {
    margin-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .card-list {
    margin-bottom: 65px;
  }

  .card-list__item {
    padding: 0;
    width: 950px;
    margin-bottom: 30px;
  }

  .card-list__avatar-image {
    width: 285px;
    height: 285px;
    order: 1;
    margin: 0 17px 0 0;
    border-radius: 20px 0 0 20px;
  }

  .card-list__about-user {
    order: 2;
    margin-top: 45px;
    margin-right: 105px;
  }

  .card-list__desc {
    display: none;
  }

  .card-list__future {
    order: 3;
    margin-top: 48px;
    width: auto;
  }


  .card-list__wrapper {
    order: 4;
    flex-direction: row;
    margin-left: auto;
    margin-top: -132px;
    margin-right: 37px;
  }

  .card-list__list {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .card-list__link {
    top: 189px;
    left: 319px;
  }

  .card-list__avatar-like {
    top: 189px;
    left: 488px;
  }

  .card-list__like-count {
    top: 199px;
    left: 536px;
  }

  .card-list__item .users__name::before {
    width: 7px;
    height: 7px;
    margin-left: -24px;
    top: 12px;
  }

  .card-list__user-name::after {
    order: -1;
    margin-right: 19px;
    margin-left: 0;
    margin-top: 12px;
  }

  .card-list__user-name {
    margin-top: 2px;
  }

  .catalog__list .card-tags__list {
    width: 230px;
    margin-left: 12px;
  }

  .card-list__level .users-level__icon {
    margin: 0 8px 10px 0;
  }
}
