.catalog-footer .page-footer__content {
  padding-top: 41px;
}

@media (min-width: @tablet-width) {
  .catalog-footer {
    position: static;
  }

  .catalog-footer .page-footer__content {
    padding-top: 36px;
  }

  .catalog-footer .page-footer__social {
    margin-left: -69px;
    padding-top: 11px;
    margin-bottom: 0;
  }

  .catalog-footer .page-footer__logo-image {
    margin-bottom: 0;
    margin-top: 14px;
  }

  .catalog-footer .page-footer__copyright {
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-footer {
    position: static;
  }

  .catalog-footer .page-footer__social {
    margin-left: -103px;
  }

  .catalog-footer .page-footer__logo-image {
    margin-top: 15px;
  }

  .catalog-footer .page-footer__copyright {
    padding-top: 17px;
  }
}
