@import "../variables.less";
@import "../mixins.less";

.catalog-footer {
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
  width: 270px;
  padding: 0 25px;
  margin: 0 auto;
}

.page-footer__logo-image {
  margin-top: 38px;
  margin-left: 87px;
}
