@import "../variables.less";
@import "../mixins.less";

.countries__title {
  .set-font-bold();
  font-size: 21px;
  line-height: 21px;
  color: @font-blue;
}

.countries__wrapper {
  background-color: #ffffff;
  border-radius: 10px;
}

.countries__rating {
  .set-font-medium();
  font-size: 16px;
  line-height: 30px;
  color: @font-grey;
  opacity: 0.3;
}

.countries__text {
  margin: 0;
  .set-font-medium();
  font-size: 16px;
  line-height: 18px;
  color: @font-grey;
  opacity: 0.3;
}

.countries__image {
  border-radius: 10px;
}
