.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  .set-font-normal();
  font-size: 16px;
  line-height: 22px;
  color: @font-grey;
  margin: -3px 0 0;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 25px;
  }
}
