.country-filter {
  min-width: 100%;
  background-color: #e2e5f2;
  border-radius: 0 0 25px 25px;
  margin-top: -20px;
  z-index: 1;
}

.country-filter__content {
  margin: 0 auto;
  width: 270px;
  padding: 36px 25px 0;
}

.country-filter__title {
  .set-font-bold();
  font-size: 16px;
  line-height: 22px;
  color: @font-blue;
  margin: 0 0 0 -15px;
  order: 2;
}

.country-filter__icon {
  fill: #121936;
  margin-right: 0;
  order: 1;
}

.country-filter__toggle {
  width: 17px;
  height: 3px;
  background: transparent url("../../img/dots.svg") no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0;
  margin-right: 4px;
  order: 3;
}

.country-filter__list {
  order: 4;
}

.country-filter__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
