.direction {
  background-color: #edeff6;
  position: absolute;
  z-index: 5;
  margin-top: -20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 270px;
  top: 1354px;
  padding: 0 25px 30px 25px;
}

.direction__title {
  margin: 132px 0 19px 25px;
}

.direction__text {
  .set-font-light();
  font-size: 16px;
  line-height: 22px;
  color: @font-grey;
  padding-left: 25px;
  padding-right: 45px;
  margin: 0 0 60px 0;
}

.direction__list {
  .reset-ul();
  margin-bottom: 25px;
}

.direction__button {
  padding: 22px 137px 22px 24px;
  display: block;
  margin: 0;
}
