@import "../variables.less";
@import "../mixins.less";

.direction {
  background-color: #edeff6;
  position: absolute;
  z-index: 5;
  margin-top: -20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 270px;
  top: 1380px;
  padding: 0 25px 30px;
}

.direction__title {
  margin: 132px 0 23px 25px;
}

.direction__text {
  .set-font-light();
  font-size: 16px;
  line-height: 22px;
  color: @font-grey;
  padding-left: 25px;
  padding-right: 45px;
  margin: 0 0 66px 0;
}

.direction__list {
  .reset-ul();
  margin-bottom: 25px;
}

.direction__button {
  margin-bottom: 25px;
}
