.main-nav {
  min-height: 478px;
  min-width: 100%;
}

.main-nav__content {
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;
}


.main-nav__top {
  margin: 0 auto 48px;
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  position: relative;
}

.main-nav__title {
  .set-font-bold();
  font-size: 36px;
  line-height: 40px;
  color: @font-white;
  text-align: center;
  margin: 0 auto 245px;
  position: relative;
  padding-right: 7px;
  padding-left: 5px;
  width: 260px;
}

.main-nav__list {
  .reset-ul();
  position: absolute;
  z-index: 20;
  left: 50%;
  margin-left: -135px;
  margin-bottom: 68px;
  top: 459px;

  &--tablet {
    .reset-ul();
    display: none;
  }
}

.main-nav__wrapper {
  background-color: #ffffff;
  padding: 27px 25px 44px;
  display: none;
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 100;
  min-width: 100%;

  &--show {
    display: none;
  }
}

.main-nav__toggle--open {
  width: 25px;
  height: 11px;
  background: transparent url("../../img/menu-tablet-mobile.png");
  border: none;
  cursor: pointer;
  font-size: 0;
  margin-top: 4px;
  color: #cccccc;
}

.main-nav__toggle--close {
  width: 19px;
  height: 19px;
  background: transparent url("../../img/menu-close.svg");
  border: none;
  font-size: 0;
  cursor: pointer;
  color: #cccccc;
}

.main-nav__top--popup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.main-nav__button {
  display: none;
  .set-font-bold();
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  background-color: #ffd74b;
  border-radius: 25px;
  padding: 11px 30px 9px 28px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 0;
  }

  .main-nav__content {
    width: 688px;
    position: relative;
    margin: 0 auto;
    background-image: none;
    padding: 0 40px;
    min-height: 0;
  }

  .main-nav__top {
    padding-top: 41px;
    margin-bottom: 75px;
  }

  .main-nav__button {
    display: block;
  }

  .main-nav__toggle--open {
    margin-top: 20px;
    margin-left: 23px;
  }

  .main-nav__title {
    font-size: 60px;
    line-height: 70px;
    margin: 0 auto;
    width: 420px;
  }

  .main-nav__list {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .main-nav__top--popup {
    align-items: center;
  }

  .main-nav__contacts {
    margin-bottom: 75px;
  }

  .main-nav__wrapper {
    padding-bottom: 40px;
    padding-top: 37px;
  }
}
