.page-footer {
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
  z-index: 10;
  width: 270px;
  padding: 0 25px;
  margin: 4155px auto 0;
}

.page-footer__logo-image {
  margin-top: 38px;
  margin-left: 87px;
}

@media (min-width: @tablet-width) {
  position: relative;
  width: 688px;
  padding: 0 40px;
  margin: 0;
}
