.page-header {
  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #161c36;
  background-position: 80px bottom, 0 0;
  min-height: 478px;
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;
}


.page-header__logo-image {
  margin-top: 27px;
}
