.page-header {
  min-width: 320px;
  background-color: #161c36;
  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 62% 100%, 0 0;
}

.page-header__content {
  padding: 0 25px;
  margin: 0 auto;
  width: 270px;
}

.logo-image--large {
  display: none;
}

.logo-image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: none;
    background-color: #182044;
  }

  .page-header__content {
    width: 688px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .logo-image--small {
    display: none;
  }

  .logo-image--large {
    display: block;
    height: 42px;
    margin-top: 4px;
  }

  .logo-image--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__content {
    width: 1320px;
    padding: 0 60px;
    margin: 0 auto;
  }

  .logo-image--large {
    display: none;
  }

  .logo-image--desktop {
    display: block;
  }

  .page-header__logo-image {
    margin-right: 40px;
  }

  .page-header {
    min-width: 320px;
    background-color: #161c36;
    background-image: url("../../img/traveller-illustration-desktop@1x.png"), url("../../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 59.7% 100%, 50% 0;
    border-radius: 0 0 60px 60px;
  }
}
