.page-catalog {
  background-color: #edeff6;
}

.page-catalog__content {
  width: 270px;
  padding: 0 25px;
  margin: 0 auto;
  background-color: #edeff6;
}


.page-catalog__link {
  .set-font-bold();
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  text-transform: uppercase;
  margin-left: 17px;
  margin-bottom: 24px;
  display: block;
  text-align: center;
}

.page-catalog__button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}

@media (min-width: @tablet-width) {
  .page-catalog__content {
    width: 688px;
    padding: 0 40px;
  }

  .page-catalog__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 6px;
    padding-left: 27px;
  }
}
