.preview {
  background-color: #161c36;
  z-index: 7;
  min-width: 100%;
}

.preview__content {
  width: 270px;
  padding: 47px 25px 89px;
  margin: 0 auto;
  position: relative;
}


.preview__blockquote {
  .set-font-light();
  font-size: 16px;
  line-height: 22px;
  color: @font-white;
  margin: 0 0 18px 26px;
  padding-right: 90px;
}

.preview__blockquote-author {
  .set-font-bold();
  font-size: 16px;
  line-height: 22px;
  color: @font-white;
  margin: 0 0 20px 26px;
  padding-right: 65px;
}

.preview__list {
  position: absolute;
  width: 270px;
  z-index: 8;
  left: 50%;
  top: 204px;
  margin-left: -135px;
}

@media (min-width: @tablet-width) {
  .preview {
    background-color: #182044;
    background-image: url("../../img/traveller-illustration-tablet@1x.png"), url("../../img/globe-back-tablet@1x.jpg");
    background-position: 72% 18%, 50% 82%;
    background-repeat: no-repeat;
  }

  .preview__content {
    position: relative;
    width: 688px;
    margin: 0 auto;
    padding: 200px 40px 334px;
  }

  .preview__list {
    width: 688px;
    margin-left: -344px;
    top: 481px;
  }

  .preview__blockquote {
    font-size: 28px;
    line-height: 33px;
    padding-right: 370px;
    margin-top: -114px;
    margin-left: 34px;
    margin-bottom: 44px;
  }

  .preview__blockquote-author {
    font-size: 21px;
    line-height: 25px;
    padding-right: 300px;
    margin-left: 34px;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    background-color: transparent;
    background-image: none;
    z-index: 9;
  }

  .preview__list {
    width: 1350px;
    left: 50%;
    margin-left: -660px;
    top: -230px;
  }

  .preview__blockquote-wrapper {
    position: absolute;
    top: -530px;
    right: 80px;
    width: 300px;
  }

  .preview__content {
    width: 1320px;
    padding: 0 60px;
    position: relative;
  }

  .preview__blockquote-author {
    padding-right: 0;
    margin-left: 34px;
  }

  .preview__blockquote {
    padding-right: 0;
    margin-top: 0;
    margin-left: 34px;
    margin-bottom: 44px;
  }
}
