.tag-list {
  .set-font-normal();
  font-size: 16px;
  line-height: 18px;
  color: @font-grey;
  .reset-ul();
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 23px;
  margin: 15px 0 12px 0;
  justify-content: center;
}

.tag-list__item {
  margin-right: 6px;
}

@media (min-width: @tablet-width) {
  .tag-list {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px;
  }

}
