.users-level {
  position: absolute;
  top: 29px;
  left: 28px;
  width: 60px;
  height: 60px;
  color: @font-white;
}

.users-level__number {
  .set-font-bold();
  font-size: 24px;
  line-height: 24px;
  padding: 0 5px;
}

.users-level__desc {
  .set-font-normal();
  font-size: 14px;
  line-height: 14px;
  padding: 0 5px;
}

@media (min-width: @tablet-width ) {
  .users-level {
    left: 33px;
    top: 33px;
  }
}
