.users-cards {
  .reset-ul();
}

.users-cards__item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.users-cards__avatar {
  border-radius: 10px 10px 0 0;
  width: 270px;
  height: 270px;

}

@media (min-width: @tablet-width) {
  .users-cards__item {
    margin-right: 47px;
    width: 285px;
    border-radius: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .users-cards__avatar {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }
}
