.user-filter {
  min-height: 584px; /*временно*/
}

@media (min-width: @tablet-width) {
  .user-filter {
    min-height: 655px;
  }
}

@media (min-width: @desktop-width) {
  .user-filter {
    min-height: 2694px;
  }
}
