.users-cards {
  .reset-ul();
}

.users-cards__item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.users-cards__avatar {
  border-radius: 10px;
}
