.user-nav__wrapper {
  position: relative;
}

.user-nav {
  display: flex;
  align-items: center;
}


.user-nav__button {
  .set-font-bold();
  font-size: 17px;
  line-height: 30px;
  color: @font-darkblue;
  text-transform: uppercase;
  background-color: #ffd74b;
  border-radius: 25px;
  padding: 13px 38px 11px 39px;
  cursor: pointer;
}

.user-nav__phone {
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;
  display: flex;
}

.user-nav__email {
  width: 40px;
  height: 40px;
  background-color: #ffbd30;
  border-radius: 50%;
  display: flex;
}

@media (min-width: @tablet-width) {
  .user-nav__item {
    display: none;

    &:last-child {
      display: block;
    }
  }

  .user-nav__button {
    font-size: 20px;
    line-height: 30px;
    padding: 15px 30px 15px 30px;
  }

}

@media (min-width: @desktop-width) {
  .user-nav__item {
    display: block;
  }

  }
